---
import type { Certification } from '@data/profile';
import Section from './Section.astro';
import TextLink from '@components/TextLink.astro';

interface Props {
  certifications: Certification[];
  class?: string;
}

const { certifications, class: className, ...rest } = Astro.props;
---

<Section class={className} {...rest}>
  <Fragment slot="title">Qualifications</Fragment>
  <Fragment slot="default">
    {
      certifications.map(({ title, url }) => (
        <TextLink href={url}>{title}</TextLink>
      ))
    }
  </Fragment>
</Section>
