---
import Section from './Section.astro';

interface Props {
  skills: string[];
  class?: string;
}

const { skills, class: className, ...rest } = Astro.props;
---

<Section class={className} {...rest}>
  <Fragment slot="title">Skills</Fragment>
  <Fragment slot="default">
    <section class="content">
      <ul>
        {
          skills.map((skill) => (
            <article>
              <li>{skill}</li>
            </article>
          ))
        }
      </ul>
    </section>
  </Fragment>
</Section>

<style lang="scss">
  @import '../variables';

  ul {
    margin: 0;
    list-style: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: $space-medium;
  }

  .description {
    text-transform: uppercase;
    font-size: $font-small;
    margin: 0;
  }

  .experience {
    margin-right: $space-xxsmall;
  }
</style>
