---
interface Props {
  items: string[];
  class?: string;
}

const { items, class: className, ...rest } = Astro.props;
---

<ul class:list={[className, 'list-disc list-inside']} {...rest}>
  {
    items.map((item) => (
      <li class="font-mono font-normal leading-normal text-sm text-wrap text-gray-500">
        {item}
      </li>
    ))
  }
</ul>
