---
import Section from '@components/Section.astro';
import Title from './Title.astro';
import HStack from './HStack.astro';
import Badge from './Badge.astro';

interface Props {
  skills: string[];
  title?: string;
  class?: string;
}

const { skills, title = 'Skills', class: className, ...rest } = Astro.props;
---

<Section class={className} noBreak {...rest}>
  <Title level="section" text={title} />
  <HStack gap="1" wrap>
    {skills.map((item) => <Badge text={item} accent />)}
  </HStack>
</Section>
