---
import Section from '@components/Section.astro';
import Title from './Title.astro';
import CertificateItem from './CertificateItem.astro';

interface Props {}

const { ...rest } = Astro.props;
---

<Section noBreak {...rest}>
  <Title level="section" text="Certificates" />
  <div class="grid grid-cols-4 gap-4">
    <CertificateItem
      name="CKA"
      description="Certified Kubernetes Administrator"
      url="https://www.credly.com/badges/636db6a0-c6c1-482e-ba22-0e9784fd9538"
    />
    <CertificateItem
      name="CKAD"
      description="Certified Kubernetes Application Developer"
      url="https://www.credly.com/badges/bfb9b379-765b-478c-bee6-e3c73a0506c1"
    />
    <CertificateItem
      name="JSNAD"
      description="OpenJS Node.js Application Developer"
      url="https://www.credly.com/badges/d3321e53-22b3-4841-94cb-a7fa78c7b075"
    />
    <CertificateItem
      name="JSNSD"
      description="OpenJS Node.js Services Developer"
      url="https://www.credly.com/badges/9545d96a-60ca-436c-a586-0e14b4b31b64"
    />
  </div>
</Section>
