---
import Section from '@components/Section.astro';
import EducationWorkExperienceItem from './EducationWorkExperienceItem.astro';
import Title from './Title.astro';
import VStack from './VStack.astro';

interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<Section class={className} noBreak {...rest}>
  <Title level="section" text="Work Experience" />
  <VStack gap="2">
    <EducationWorkExperienceItem
      title="Yahoo Japan Corporation"
      subTitle="Frontend Engineer"
      startPeriod="2018.04"
      endPeriod="2021.10"
      description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus."
      url="https://about.yahoo.co.jp/"
    />
    <EducationWorkExperienceItem
      title="Yahoo Japan Corporation"
      subTitle="Frontend Engineer"
      startPeriod="2018.04"
      endPeriod="2021.10"
      description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus."
      url="https://about.yahoo.co.jp/"
    />
  </VStack>
</Section>
